body{
    background: #FFffFF;
}

h1{
    font-size: 14px;
    font-weight: bold;
}

th{
    font-size: 10px;
    font-weight: bold;
    background: #00ccff;
    line-height: 150%;
}

td{
    font-size: 9px;
    font-weight: bold;
    background: #ffffcc;
    line-height: 150%;
}

div{
    font-size: 9px;
    text-align: right;
}